name: EAS Build
on:
  workflow_dispatch:

jobs:
  build-ios:
    name: Install and build
    runs-on: ubuntu-builds-small
    steps:
      - name: Checkout little-world-native
        uses: actions/checkout@v4
        with:
          path: little-world-native
      - name: Checkout little-world-frontend (sibling)
        uses: actions/checkout@v4
        with:
          repository: a-little-world/little-world-frontend
          ref: ${{ github.event.inputs.COMMIT_REF }}
          path: little-world-frontend
          token: ${{ secrets.BOT_PAT }}
      - name: Install pnpm
        run: npm install -g pnpm@latest-10
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Install dependencies
        run: |
          cd little-world-native
          ./_scripts/pack_and_update.sh
      - name: Build on EAS
        run: |
          cd little-world-native
          eas build --platform ios --non-interactive --no-wait
