name: EAS Build
on:
  workflow_dispatch:

jobs:
  build-ios:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        run: npm install -g pnpm@latest-10
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: pnpm
      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - name: Install dependencies
        run: ./_scripts/pack_and_update.sh
      - name: Build on EAS
        run: eas build --platform ios --non-interactive --no-wait
